input.ng-invalid.ng-touched{
    border: 2px solid red;
}

input.ng-valid.ng-dirty{
    border: 2px solid green;
}

button{
    padding: 8px;
    border-radius: 8px;
    background-color: greenyellow;
}
button[disabled]{
    border: 1px solid black;
    background-color: #DEDEDE;
}
